
#header{
    background-image: url(CurrentAccount.png);
}
.icon{   
    border: 1px solid #ea7114;
    border-radius: 5px;

    background-image: url(chat.png);
    width: 100px;
    height: 100px;
}

