@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}



.register{
  margin: auto;
  max-width: 1260px;
  width: 100vw;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: white;
}

.register span{
  color: #adb5bd;
}

#RegisterField{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#RegisterField >  input, .btn{
  border: px solid #e9ecef;
  padding: .5em 1em;
}

#RegisterField > input:focus{
  outline: none;
}

#RegisterField > .btn{
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;
}
.header{
    color: #003049

}

.register .col-1{
  margin: auto;
  padding: 3em 0;
}

.register .col-2 img{
  width: 400px;
  height: 80%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

.messageAfterSign
{
  color: rgb(241, 196, 15);
}

@media screen and (min-width: 860px)  {
  .register .col-2 img{
    display: initial;
  }
}